$stress-color: #108efe;
$background-color: rgb(245, 247, 250);
$stress-background-color: white;


.set_background_color { // set the background color to the unified color
  background-color: $background-color
}

.controller-style {
  border-radius: 10px;
  background-color: $stress-background-color;
  overflow: hidden;
  box-shadow: 5px 5px 50px rgba(128, 128, 128, 0.15);
}