.set_background_color { // set the background color to the unified color
  background-color: rgb(249, 251, 254);
}

.controller-style {
  border-radius: 10px;
  background-color: rgb(249, 251, 254);
  overflow: hidden;
  box-shadow: 5px 5px 50px rgba(128, 128, 128, 0.15);
}

.nodes-style {
  border-radius: 9px;
  background-color: rgb(249, 251, 254);
  // overflow: hidden;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
}
.nodes-topchild-border-radius {
  border-radius: 9px 9px 0 0;
}
