@use 'global.scss' as *;
$int-color: #1c6bbf;
$float-color: #ecbc00;
$str-color: green;
$table-color: pink;
$file-color: brown;
$bool-color: #76ab0b;
$default-type-color: gray;
$node-width: 200px;
$node-title-height: 30px;
$node-padding: 10px;
$input-node-color: rgb(255, 102, 255);
$compute-node-color: #00b688;
$control-node-color: #d87e00;
$file-node-color: $file-color;
$str-node-color: $str-color;
$table-node-color: $table-color;
$utils-node-color: rgb(183, 0, 70);
$visualize-node-color: #7572d2;
$node-margin: 10px;
$node-title-fontsize: 1em;
$node-description-fontsize: 1em;


.nodes-style {
  border-radius: 9px;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
  width: $node-width;
  background: white;
  position: relative;
}

.nodes-topchild-border-radius {
  border-radius: 9px 9px 0 0;
}

.nodes-innertool-border-radius {
  border-radius: 6px;
}

.nodes-selected {
  outline: 2px solid $stress-color;
}

.int-handle-color {
  background: $int-color;
}

.float-handle-color {
  background: $float-color;
}

.bool-handle-color {
  background: $bool-color;
}

.str-handle-color {
  background: $str-color;
}

.Table-handle-color {
  background: $table-color;
}

.File-handle-color {
  background: $file-color;
}

.default-type-handle-color {
  background: $default-type-color;
}

.node-title-input {
  background: $input-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-compute {
  background: $compute-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-control {
  background: $control-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-file {
  background: $file-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-stringProcess {
  background: $str-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-tableProcess {
  background: $table-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-tool {
  background: $utils-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.node-title-visualize {
  background: $visualize-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
  font-size: $node-title-fontsize;
}

.port {
  position: relative;
}

.input-port-description {
  padding-left: $node-padding;
  font-size: $node-description-fontsize;
}

.output-port-description {
  padding-right: $node-padding;
  text-align: right;
  font-size: $node-description-fontsize;
}

.param-description {
  font-size: $node-description-fontsize;
  margin-bottom: 2px;
}

.node-has-paramerr {
  /* wave under text */
  text-decoration: underline wavy red;
}

.node-err {
  position: absolute;
  top: 100%;
} //  errmsg style

.node-errhandle {
  background: red !important;
  filter: drop-shadow(0 0 3px red);
}