@use 'global.scss' as *;
$int-color: #1c6bbf;
$float-color: #ecbc00;
$str-color: green;
$table-color: pink;
$file-color: brown;
$bool-color: #76ab0b;
$default-type-color: gray;
$node-width: 200px;
$node-title-height: 30px;
$node-padding: 10px;
$input-node-color: rgb(255, 102, 255);
$compute-node-color: #00b688;
$control-node-color: #d87e00;
$file-node-color: $file-color;
$str-node-color: $str-color;
$table-node-color: $table-color;
$utils-node-color: rgb(183, 0, 70);
$visualize-node-color: #7572d2;
$node-margin: 10px;


.nodes-style {
  border-radius: 9px;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
  width: $node-width;
  background: white;
  position: relative;
}

.nodes-topchild-border-radius {
  border-radius: 9px 9px 0 0;
}

.nodes-innertool-border-radius {
  border-radius: 6px;
}

.nodes-selected {
  outline: 2px solid $stress-color;
}

.int-handle-color {
  background: $int-color;
}

.float-handle-color {
  background: $float-color;
}

.bool-handle-color {
  background: $bool-color;
}

.str-handle-color {
  background: $str-color;
}

.table-handle-color {
  background: $table-color;
}

.file-handle-color {
  background: $file-color;
}

.default-type-handle-color {
  background: $default-type-color;
}

.node-title-input {
  background: $input-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-compute {
  background: $compute-node-color;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-control {
  background: #bbb;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-file {
  background: #aaa;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-stringProcess {
  background: #999;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-tableProcess {
  background: #888;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-tool {
  background: #777;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.node-title-visualize {
  background: #666;
  text-align: left;
  padding-left: $node-padding;
  height: $node-title-height;
}

.port {
  position: relative;
}

.input-port-description {
  padding-left: $node-padding;
}

.output-port-description {
  padding-right: $node-padding;
  text-align: right;
}

.node-has-paramerr {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 4px,
    red        4px,
    red        6px
  );
}

.node-err {
  position: absolute;
  top: 100%;
} //  errmsg style

.node-errhandle {
  background-color: red;
  filter: drop-shadow(0 0 3px red);
}
