@use 'global.scss' as *;
$int-color: #1c6bbf;
$float-color: #ecbc00;
$str-color: green;
$table-color: pink;
$file-color: brown;
$default-type-color: gray;
$node-width: 200px;
$node-title-height: 30px;
$node-padding-left: 10px;


.nodes-style {
  border-radius: 9px;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
}

.nodes-topchild-border-radius {
  border-radius: 9px 9px 0 0;
}

.nodes-innertool-border-radius {
  border-radius: 6px;
}

.nodes-selected {
  outline: 2px solid $stress-color;
}

.int-handle-color {
  background: $int-color;
}

.float-handle-color {
  background: $float-color;
}

.str-handle-color {
  background: $str-color;
}

.table-handle-color {
  background: $table-color;
}

.file-handle-color {
  background: $file-color;
}

.default-type-handle-color {
  background: $default-type-color;
}

.node-title-input {
  background: #ddd;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-compute {
  background: #ccc;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-control {
  background: #bbb;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-file {
  background: #aaa;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-stringProcess {
  background: #999;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-tableProcess {
  background: #888;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-tool {
  background: #777;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}

.node-title-visualize {
  background: #666;
  text-align: left;
  padding-left: $node-padding-left;
  height: $node-title-height;
}