@use 'global.scss' as *;
//  data type color
$int-color: #1c6bbf;
$float-color: #ecbc00;
$str-color: #10b981;
$table-color: pink;
$file-color: #f97316;
$bool-color: #77b021;
$datetime-color: #00c8ff;
$model-color: #9f03c2;
$default-type-color: gray;
//  node element style
$node-width: 210px;
$node-title-height: 30px;
$node-padding-top: 7px;
$node-padding-hor: 12px;
$node-padding-bottom: 5px;
$node-margin: 10px; //  margin between child elements
$node-title-fontsize: 15px;
$node-description-fontsize: 14px;
//  node first category color
$input-node-color: #8b5cf6; // 紫罗兰 - 输入
$compute-node-color: #14b8a6; // 青绿色 - 计算
$control-node-color: #eab308; // 金黄色 - 控制
$file-node-color: $file-color; // 橙色 - 文件
$str-node-color: $str-color; // 翠绿色 - 字符串处理
$table-node-color: $table-color; // 粉红色 - 表格处理
$analysis-node-color: #ef4444; // 红色 - 分析
$visualize-node-color: #6366f1; // 靛蓝色 - 可视化
$datetime-node-color: $datetime-color; // 青色 - 日期时间处理
$machine-node-color: $model-color;
$annotation-node-color: #64748b; // 棕色 - 注释
$annotation-node-body-color: rgba(100, 116, 139, 0.25); // 棕色 - 注释节点身体

.nodes-style {
  border-radius: 9px;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
  width: $node-width;
  background: white;
  position: relative;
}

.nodes-selected {
  box-shadow: 5px 2px 35px rgba(128, 128, 128, 0.4);
}

.nodes-dbclicked {
  outline: 2px solid $stress-color;
}

//  handle colors according to datatypes
.int-handle-color {
  background: $int-color;
}

.float-handle-color {
  background: $float-color;
}

.bool-handle-color {
  background: $bool-color;
}

.str-handle-color {
  background: $str-color;
}

.Table-handle-color {
  background: $table-color;
}

.File-handle-color {
  background: $file-color;
}

.Datetime-handle-color {
  background: $datetime-color;
}

.Model-handle-color {
  background: $model-color;
}

.default-handle-color {
  background: $default-type-color;
}

@mixin node-title-style {
  border-radius: 9px 9px 0 0;
  text-align: left;
  padding-left: $node-padding-hor - 4px;
  height: $node-title-height;
  font-size: $node-title-fontsize;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  svg{
    width: 18px;
    margin-right: 6px;
    opacity: 0.8;
  }
}

//  title colors according to node categories
.node-title-input {
  @include node-title-style;
  background: $input-node-color;
}

.node-title-compute {
  @include node-title-style;
  background: $compute-node-color;
}

.node-title-control {
  @include node-title-style;
  background: $control-node-color;
}

.node-title-file {
  @include node-title-style;
  background: $file-node-color;
}

.node-title-stringProcess {
  @include node-title-style;
  background: $str-node-color;
}

.node-title-tableProcess {
  @include node-title-style;
  background: $table-node-color;
}

.node-title-analysis {
  @include node-title-style;
  background: $analysis-node-color;
}

.node-title-visualize {
  @include node-title-style;
  background: $visualize-node-color;
}

.node-title-datetimeProcess {
  @include node-title-style;
  background: $datetime-node-color;
}

.node-title-machineLearning {
  @include node-title-style;
  background: $machine-node-color;
}

.node-title-annotation {
  @include node-title-style;
  background: $annotation-node-color;
}

.port {
  position: relative;
}

.input-port-description {
  padding-left: $node-padding-hor;
  font-size: $node-description-fontsize;
  margin-left: 5px;
  font-weight: bold;
}

.output-port-description {
  padding-right: $node-padding-hor;
  text-align: right;
  font-size: $node-description-fontsize;
  font-weight: bold;
}

.param-description {
  font-size: $node-description-fontsize;
  margin-bottom: 2px;
  margin-left: 5px;
  font-weight: bold;
}

.node-has-paramerr {
  text-decoration: underline dotted red;
  text-decoration-thickness: 3px;
}

.node-errhandle {
  // background: red !important;
  outline: 1.5px solid red;
  outline-offset: 1px;
}

.special-table-column {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

hr {
    border: none;
    border-top: 1px solid #eee;
    // margin: 8px 0;
}
