@use 'global.scss' as *;
//  data type color
$int-color: #1c6bbf;
$float-color: #ecbc00;
$str-color: green;
$table-color: pink;
$file-color: rgb(216, 105, 91);
$bool-color: #76ab0b;
$datetime-color: #00c8ff;
$default-type-color: gray;
$node-width: 200px;
$node-title-height: 30px;
$node-padding-top: 7px;
$node-padding-hor: 12px;
$node-padding-bottom: 10px;
//  node first category color
$input-node-color: rgb(255, 102, 255);
$compute-node-color: #00b688;
$control-node-color: #d87e00;
$file-node-color: $file-color;
$str-node-color: $str-color;
$table-node-color: $table-color;
$utils-node-color: rgb(183, 0, 70);
$visualize-node-color: #7572d2;
$datetime-node-color: $datetime-color;
$node-margin: 10px;
$node-title-fontsize: 15px;
$node-description-fontsize: 14px;


.nodes-style {
  border-radius: 9px;
  box-shadow: 5px 2px 15px rgba(128, 128, 128, 0.1);
  width: $node-width;
  background: white;
  position: relative;
}

.nodes-selected {
  box-shadow: 5px 2px 35px rgba(128, 128, 128, 0.4);
}

.nodes-dbclicked {
  outline: 2px solid $stress-color;
}

//  handle colors according to datatypes
.int-handle-color {
  background: $int-color;
}

.float-handle-color {
  background: $float-color;
}

.bool-handle-color {
  background: $bool-color;
}

.str-handle-color {
  background: $str-color;
}

.Table-handle-color {
  background: $table-color;
}

.File-handle-color {
  background: $file-color;
}

.Datetime-handle-color {
  background: $datetime-color;
}

.default-handle-color {
  background: $default-type-color;
}

@mixin node-title-style {
  border-radius: 9px 9px 0 0;
  text-align: left;
  padding-left: $node-padding-hor - 4px;
  height: $node-title-height;
  font-size: $node-title-fontsize;
  display: flex;
  align-items: center;
  font-weight: bold;
  svg{
    width: 18px;
    margin-right: 6px;
    opacity: 0.8;
  }
}

//  title colors according to node categories
.node-title-input {
  @include node-title-style;
  background: $input-node-color;
}

.node-title-compute {
  @include node-title-style;
  background: $compute-node-color;
}

.node-title-control {
  @include node-title-style;
  background: $control-node-color;
}

.node-title-file {
  @include node-title-style;
  background: $file-node-color;
}

.node-title-stringProcess {
  @include node-title-style;
  background: $str-node-color;
}

.node-title-tableProcess {
  @include node-title-style;
  background: $table-node-color;
}

.node-title-util {
  @include node-title-style;
  background: $utils-node-color;
}

.node-title-visualize {
  @include node-title-style;
  background: $visualize-node-color;
}

.node-title-datetimeProcess {
  @include node-title-style;
  background: $datetime-node-color;
}

.port {
  position: relative;
}

.input-port-description {
  padding-left: $node-padding-hor;
  font-size: $node-description-fontsize;
  margin-left: 5px;
  font-weight: bold;
}

.output-port-description {
  padding-right: $node-padding-hor;
  text-align: right;
  font-size: $node-description-fontsize;
  font-weight: bold;
}

.param-description {
  font-size: $node-description-fontsize;
  margin-bottom: 2px;
  margin-left: 5px;
  font-weight: bold;
}

.node-has-paramerr {
  text-decoration: underline dotted red;
  text-decoration-thickness: 3px;
}

.node-errhandle {
  background: red !important;
}
